language: java
jdk:
- oraclejdk8
cache:
  directories:
  - ".autoconf"
  - "$HOME/.m2"
env:
  global:
  - secure: mZVUuchie5IdHdXgU6GqhJXYVZWYtEGQiswXb2aFiySn3e5O5WPwezlX5lGvqyqX3WTkvG0hphfqhwcMWaVCOwuNNG0XBH5IwCe5JaSpbNSoTZgUdnCiTPz8btXhPk6Ma6L2Nhpla26FXURwBWPhHezLp9tzgYCp1+yPRXjw8cBINO0yuSboocVWDgAyIHiVIr8OgbM66gnv8839TSLM3at5CT2WMHc27Z2FW5SiqSGwsv+w1pGLlXUcPCwXMkKTLLEhYe34Czszc24Z13gnpgpX5OrBnJkuI4Pne+lbQH1OnZBFSiuf/A3AJayZyhIly2Ryx1VKqgmIEn3vMzzTvvuZFL5rTdme0JCO/mwZ1AJLgFxlQF20q+UwqV69t2TAG+IRYxn3CZi8KZEPHVNomjypiUyIvQVbrybBg9yuPrGPIcjMOaChlU6ogYHotJNX/PmODFjfNj2+VSe0yjbPrVn6n99YEYZcsaV6q1WehWDi69AVT1cjsNWTMU+2ZIkWQ8bLN0ABAnqbMM9RpFAH7vOl5Dftj5MCH6C+4VDfZ7t6LxhWW44uh5x3zqJ6Ykzf4wU8S7fZB8tYHo5dcrgXeZ/jHj3etioKh9VxdB3I6W6vyc3swybJ7ViupojAoG6lJwRqFnk43KrToN4NJEFbNlnsJDAKeM+nc2fiWgGa9To=
  - secure: g4wyuGLDkSR7knL6vUaym5RPVZGobzWvmjwvs/TN10AlSFm8LTChScdq1ZrRuzAxo2KTa/WZd+O2NPdmE8JLPlAf0xmMwz+tVBJdTn+2vDUDRqYto97dScx2NxTm7cBcl4OwSHHtpFY0PqfQyy3aHo7V99+5S2jPrf+CFtNCgkGM+1uXTZ5DPL6w6SwsnrtnfoRo91Tv//xzJfFFOkJHibj7ZUb2lHxqSwfaq1MAP0Zu4sSOBOIXKZYeKpwS9Qq//zdzIpSCeBtuZutdj5K+R4KbeiuRj/NyPuOLvHexGhVodwdsGj0FYYlnDCvubowV4NJWFvgNEKXv+1gFGJkapJOBmOc9HQBNRVGOLjWO2tkFm17pGwiLn4eOpinNPCA1Cw1f/f7sqX5VuRCCKmCZTjswbqFHgjOAIcl7HdHYMtWDeOsQNKSUi+ro8rsAQCwlK+rcLIrRTSoBlKzLWh8H1mvDF18M0a64EZp12k86jdOVh/vAUEZ1FJB4VEgCQdX5LlOSXNz0VLb19prJm91DYGUTHOVxT/RYypl+Hv1Xopeu8kRkc9Z9fK9jODVPztPdnJU9btvhHpZoz0cIy43doOj1lzeIQoGGhYGtMepiOuWBAROrhNitWB64+FfM7IdLMCLzg+01tVLD8bJmSIE9woezYwK5J3pftgrc8lM+tro=
script:
  - mvn versioneye:update test jacoco:report